<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hym.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaintBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CanvasBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathAddXXXActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathXxxToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathFillTypeActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathOpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathOtherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PathMatrixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaintShaderActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaintEffectActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>